body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1em;
}

#viz {
    display: flex;
    flex-direction: row;
}

.col {
    margin: 1em;
}

.item {
    margin-bottom: 1em;
}

#sections > .item:hover, #authors > .item:hover {
    color: blue;
    cursor: pointer;
}

.selected {
    background-color: pink;
}
